.bigb{
    border-inline-end: 1px;
    width: 200%;
    border-style: dashed;
    width: 20%;
    height:50px;
    text-align: center;
 
}
.bigb:hover{
    border-inline-end: 1px;
    width: 200%;
    border-style: dashed;
    width: 20%;
    height:50px;
    text-align: center;
    background:lightgray;
 
}
.my{
display: inline-block;
border-radius: 60px;
padding: 0.5em 0.6em;
}

.question{
    width:70%;
}


:host{
    background-color: aquamarine;
    size: 200px 200px;
    display: block;
    min-height: 600px;
    height: auto;
}

.example-full-width{
    text-align:left;
    width:70%
}
.example-full-width-half{
    text-align:left;
    width:34%;
    float:left;
}

.example-full-width-half + .example-full-width-half{
    margin-left:2%;
}

.addBut{
    width: 70%;
margin:auto;
    padding:25px, 25px, 25px, 25px;

 float: left;
 text-align: center;
 margin-top:7.5px;
 }

 .addButforward{
       width: 20%;
       margin-right:32.5%;
       float: right;
       text-align: right;
       margin-top:7.5px;
 }

 .addBut1{
    width: 35%;

margin-right: 8%;
margin-left:7%;
 float: left;
 text-align: center;
 margin-top:7.5px;
 }
 .question{
     overflow: auto;
     height: 600px;
 }