<br>
<div class = "row text-left"> 
  <div class = "col"> 
      <div class = "question"> 
          <app-question *ngFor = "let question of questions; let i = index" role="listitem" [dataq] = "question" [count] = "i">
            
          </app-question>
      </div>
  </div>
  <div class = "col">
    <div *ngFor = "let exam of exams">
          <span *ngIf = "exam.$key == code">
          <h1>{{exam.title}}</h1>  
         </span>
     </div>
  

     <span> 
             <mat-form-field class="example-full-width">
                 <input matInput placeholder="question title" [(ngModel)] = "que_title" name = "que_title">
                 <button mat-button *ngIf="que_title" matSuffix mat-icon-button aria-label="Clear" (click)="que_title=''">
                    <mat-icon>close</mat-icon>
                  </button>
             </mat-form-field>
     </span> 
     <p>Enter range for define what is currect for you:</p>
         <div class = "row"> 
            <div class = "col">
        
                <mat-form-field class="example-full-width-half">
                    <input matInput placeholder="From" [(ngModel)] = "from" name = "from" [formControl]="Froming">
                    <button mat-button *ngIf="from" matSuffix mat-icon-button aria-label="Clear" (click)="from=''">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>  
              
              
           
              
                  <mat-form-field class="example-full-width-half">
                      <input matInput placeholder="To" [(ngModel)] = "to" name = "to" [formControl]="Toing">
                      <button mat-button *ngIf="to" matSuffix mat-icon-button aria-label="Clear" (click)="to=''">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>  
         
              </div>
         </div>

               
       
           <div  class = "addButforward"> 
              <button   mat-raised-button color="primary" (click) = "addQuestion()">
                  <mat-icon>forward</mat-icon>
              </button>
              <p>Add question</p>  
          </div> 
<div style = "height:240px"></div>
          <div class = "addBut">  
         <span class = "addBut1"> 
            <button  mat-mini-fab color="basic" (click) = "deleteExam()">
                <mat-icon>delete</mat-icon>
            </button>
            <p>Delete <b>exam</b></p>
          </span>

            <span class = "addBut1"> 
                <button  mat-mini-fab color="basic" (click) = "saveAndGo()">
                    <mat-icon>save</mat-icon>
                </button>
                <p>Save <b>exam</b></p>
              </span>
            </div>
            
     



  </div>

  <div class = "col"> 
  </div>
   </div>
    