<p>Let us know your thoughts</p>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name">
      </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)] = "x" matInput placeholder="Email" [formControl]="emailFormControl"
           [errorStateMatcher]="matcher">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <textarea [(ngModel)] = "y" matInput placeholder="Message"></textarea>
  </mat-form-field>

  <button mat-button color="primary" class = "but" (click) = "close()">Send</button>
  <button mat-button color="warn" class = "but" (click) = "close1()">Close</button>
</form> 