<h2>Update quiz</h2>

<mat-form-field class="example-full-width">
        <input matInput placeholder="Title" [(ngModel)] = "title">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="description" [(ngModel)] = "description"></textarea>
      </mat-form-field>
      <br>
      <div *ngIf = "gameon" style = "color: green">game is Active</div>
      <br>
      
      <mat-form-field class="example-full-width">
      <input matInput placeholder="Limit time for exam" [(ngModel)] = "timelimit">
      </mat-form-field>
      <br>
      <p>game PIN is: {{pin}}</p>
      <mat-divider></mat-divider>
      <br>
      <span class = "centered"> 
      <span> <button (click) = "updateQuiz()" mat-stroked-button color="primary">Update</button> </span>
      <span> <button (click) = "closeDialog()" mat-stroked-button color="warn">Cancel</button> </span>
    </span>