.mat-expansion-panel-header-description{
    flex-basis: 0;
    color:green;
}


.mat-expansion-panel-header-title {
    flex-basis: 0;
  }
.inner {
    margin: 0 auto;
}
.action{
    text-align: right;
}

.pin_para{
    color: rgba(48, 48, 247, 0.603);
    text-align: right;
}
.description{
    color: gray
}