<!--
In this page i need:
1) Edit button
2) Delete button with dialog "are u sure?"
3) Button that activate the exam so student can join


-->



<!-- button for active or not actives-->   
<div class ="inner">  
    <mat-expansion-panel (opened)="Onopen()"
                         (closed)="Onclose()">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3> {{title}}  </h3>
        </mat-panel-title>
        <mat-panel-description class = "status">
          {{gamestatus}}  
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> 
      Maximum testing time: {{timelimit}} seconds.
      </p>
      <p class = "description">Description:</p>
      <pre>{{description}}</pre>
      <h3 class = "pin_para">game pin is: {{PIN}}</h3>
     
     
        <app-question *ngFor = "let question of questions; let i = index" role="listitem" [dataq] = "question" [count] = "i">
        </app-question>
    
   <mat-action-row>
      <span> <button (click) ="openDeleteDialog()" mat-stroked-button color="warn">Delete quiz</button> </span>
      <pre> </pre>
      <span> <button  mat-stroked-button color="primary" (click) = "openUpdateDialog()">Update quiz</button> </span>
       
<pre>                                                                                            </pre>
      <span *ngIf = "!gameon"><button (click)="activeExam()" mat-raised-button color="primary">Activate</button> </span>
      <span *ngIf = "gameon"><p style = "color:green">Game is ready for use</p> </span>

      
   </mat-action-row>
   
    </mat-expansion-panel>
  </div>