<h3>{{(auth.user | async)?.displayName}}</h3>
<h3>{{(auth.user | async)?.email}}</h3>
<div *ngIf = "!(school == '1')">{{school.school}}</div>
<mat-divider></mat-divider>
<br>
<button (click) = "logout()" mat-fab color="warn" class = "rightside">Logout</button>