
<div class = "row text-left"> 

<div class = "col"> 

</div>
<div class = "col"> 
    <h1>Create new exam</h1>
  <div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [(ngModel)] = "title" name = "title" [formControl]="examTitle" >
        <mat-error *ngIf="examTime.invalid">{{getErrorMessage1()}}</mat-error>
      </mat-form-field>
    </div>

    <div> 
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description"  [(ngModel)] = "description" name = "description"></textarea>
      <mat-hint align = "end">(Optional)</mat-hint>
    </mat-form-field>
  </div>


  <div> 
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Limit maximum time for the exam" [(ngModel)] = "timelimit" name = "examTime" [formControl]="examTime">
      <mat-hint>Enter the limited time for the quiz <b>in seconds</b></mat-hint>
      <mat-error *ngIf="examTime.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
 
 <div class = "addBut">  
    <button  mat-mini-fab color="primary" (click) = "addTest()">
        <mat-icon>add</mat-icon>
    </button>
    <p>Add questions</p>
    </div>

</div>
<div class = "col"> 

</div>
 </div>
  


 

