.bigb{
    border-inline-end: 1px;
    width: 200%;
    border-style: dashed;
    width: 20%;
    height:50px;
    text-align: center;
 
}
.bigb:hover{
    border-inline-end: 1px;
    width: 200%;
    border-style: dashed;
    width: 20%;
    height:50px;
    text-align: center;
    background:lightgray;
 
}
.my{
display: inline-block;
border-radius: 60px;

padding: 0.5em 0.6em;
}

:host{
    background-color: aquamarine;
    size: 200px 200px;
    display: block;
    height: 600px;
}
.center {
    margin: auto;
    width: 60%;
   text-align: left;
  }
  
  .example-full-width  {
    width: 70%;
    
  }
  .addBut{
      width: 70%;
      margin:auto;
      padding:25px, 25px, 25px, 25px;
      border:1px dashed black;
      float: left;
      text-align: center;
      margin-top:7.5px;
   }
   