<div class = "regularcomponent">
  <br>
  <br>
<div> 
  <img (click) = "LoginG()" (mouseleave) = "out()"  *ngIf = "Ongoogle"  class = "SignBut"  src = "assets/picture/googlehover.png">
  
  <img (click) = "LoginG()" (mouseenter) = "in()"  *ngIf = "!Ongoogle"  class = "SignBut"  src = "assets/picture/google.png">
  </div>
  <div style="height:10px;font-size:1px;"></div>
  <div> 
  <img (click) = "LoginF()" (mouseleave) = "outF()"  *ngIf = "Onfacebook"  class = "SignBut"  src = "assets/picture/Facebookhover.png">
  
  <img (click) = "LoginF()" (mouseenter) = "inF()"  *ngIf = "!Onfacebook"  class = "SignBut"  src = "assets/picture/Facebook.png">
  </div>
  
  
  <br>
  <div class = "regularcomponent">
    <mat-divider></mat-divider>
  </div>
  
  
  <div class="example-container">
     
    <mat-form-field>
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email">
    </mat-form-field>
  </div>
  
  
  <div class="example-container">
      <mat-form-field>
        <input [(ngModel)] = "password" type="password" name = "password" matInput placeholder="Password">
      </mat-form-field>
  </div>
  
  <button mat-flat-button color="accent" class ="SignBut"  (click) = "loginWithEmailpass()">Sign in</button>
  </div>