.SignBut:hover{
    cursor: pointer;
   
}
.SignBut{
    height: 40px; 
    width: 55%;
}

  .example-container > * {
    width: 55%;
    float: center;
    
  }

.regularcomponent{
  margin: 0 auto;
  width: 55%;
  text-align: center;
  
}
br {
  display: block;
  margin: 5px 0;
  line-height:10px;
}
:host {
  background-color:rgb(98, 214, 143);
  height: auto;
    min-height: 600px;
  display: block;
  animation: myanimation 30s infinite;
}

@keyframes myanimation {
  0% {background-color: rgb(99, 208, 245);}
  10%{background-color:lightgreen;}
  20%{background-color:rgb(243, 243, 128);}
  30%{background-color:lightsalmon;}
  40% {background-color:lightcoral;}
  50%{background-color:lightsalmon;}  
  60%{background-color:lightpink;}
  70%{background-color:rgb(136, 44, 136);}
  80%{background-color:lightsalmon;}
  90%{background-color:lightyellow;}
  100%{background-color:lightgreen;}
}