

    <span> 
      <img (click) = "toHome()" class = "logo"  src = "assets/picture/Math-logo.jpg">
    </span>
     
        <span  *ngIf = "!(auth.user | async)" >  <button mat-button (click) = "toRegister()">Register</button> </span>
          <span  *ngIf = "!(auth.user | async)" >  <button mat-button  (click) = "toLogin()">Login</button> </span>
     
      <span  *ngIf = "auth.user | async" >  <button mat-button  (click) = "toReport()">Reports</button> </span>
      <span  *ngIf = "auth.user | async" >  <button mat-button  (click) = "toExams()">Exams</button> </span>
      <span *ngIf = "auth.user | async"> 
          <img class = "profile"  (click) = "openDialog()"  src="{{(auth.user | async)?.photoURL}}"/>    
       </span> 
      <span class = "right">
          <button mat-button (click) = "EnterPIN()">Enter game PIN</button> 
      </span>
        
    
    

    
    