:host{
  
  size: 200px 200px;
  display: block;
}

.logo{
    width: 8%;
    height: 100%;
}
.logo:hover{
    background-color: white;
    color: gray;
    border: 0.2px solid #555555;
}

.right{
  margin-top: 1.5%;
  float: right;
  margin-right: 1.5%
}

.profile:hover{
    border-radius: 50%;
    width: 3.5%;
    height: 3.5%;
    border: 0.5px solid #555555;
    position: static;
    margin-top: 1%;
  float: right;
  margin-right:2%
 }
 .profile{
  border-radius: 50%;
  width: 3.5%;
  height: 3.5%;
  position: static;
  margin-top: 1%;
  float: right;
  margin-right: 2%
}



  