<h3>are you sure you want to delete {{data.name}}? </h3> 
<span class = "centered"> 
<span><button mat-raised-button color="warn" (click)="deleteItem()">Yes</button></span>
<span> <button mat-raised-button color="primary" (click)="closeDialog()">No</button> </span>
</span>
