

<div (mouseenter) = "mouseIn()" (mouseleave)="mouseOut()">   
<mat-divider></mat-divider>
<span *ngIf = "num == 1">   <h3>Questions:</h3>   </span>
<span  *ngIf = "!updateform">&nbsp; Question {{num}}: &nbsp; {{title}} </span>


<br>
<div *ngIf = "!updateform"> 
<span id = "right" *ngIf = "hover"> <button (click) = "deleteQuestion()"  mat-stroked-button color="warn">Delete</button></span> 
<span id = "right" *ngIf = "hover"> <button (click) = "formMode()"  mat-stroked-button color="primary">Edit</button> </span>
</div>

<span *ngIf = "!updateform"> 
<span id = "left">&nbsp; from: &nbsp; </span> <span>{{from}}</span> 
<br>
<span id = "left">&nbsp; to: &nbsp;  </span> <span>{{to}}</span> 
</span>

<span *ngIf = "updateform">

    <div>  
        <mat-form-field class="example-full-width">
         <input matInput placeholder="Question" [(ngModel)] = "title" name = "title">
       </mat-form-field>
      </div> 

  <span>  
   <mat-form-field class="example-full-width">
    <input matInput placeholder="Currect from" [(ngModel)] = "from" name = "from">
  </mat-form-field>
</span> 
<br>

<span>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Currect untill" [(ngModel)] = "to" name = "to">
      </mat-form-field>
</span> 
<div>
    <span> <button (click) = "regularMode()"  mat-stroked-button color="warn">Cancel</button> </span> 
    <span> <button (click) = "updateQuetion()"  mat-stroked-button color="primary">Save</button> </span>
    
</div>
<br>
</span>
</div>
