.inner {
    width: 70%;
    margin: 0 auto;
}   
:host {
    background-color:rgb(243, 224, 114);
    size: 200px 200px;
    display: block;
    height: auto;
    min-height: 600px;
    animation: myanimation 10s infinite;
}
.addBut{
 padding:25px, 25px, 25px, 25px;
 border:1px dashed black;
float: center;
text-align: center;
margin-top:7.5px;
}

@keyframes myanimation {
    0% {background-color: brown;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
  }