<!--
In this page need to be:
1) List of the exams
   A) Search input by name
   B) filter by active
2) Button that go to other page 'cexam' - create Exam
-->


<div class ="inner">  
<h1 *ngIf = "(Auth.user | async)">Welcome {{(Auth.user | async)?.displayName}} </h1>


<mat-accordion>
    <app-exam *ngFor =  "let exam of exams" [data] = "exam"> </app-exam>
</mat-accordion>
  
<div style="height:30px;font-size:1px;"></div> 

<div class = "addBut">  
<button  mat-mini-fab color="accent" (click) = "createExam()">
    <mat-icon>add</mat-icon>
</button>
<p>create new exam</p>
</div>

</div>
