table {
    width: 90%;
    margin:auto;
  }
  :host {
    background-color:rgb(98, 214, 143);
    height: auto;
      min-height: 600px;
    display: block;
    animation: myanimation 30s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color: rgb(99, 208, 245);}
    10%{background-color:lightgreen;}
    20%{background-color:rgb(243, 243, 128);}
    30%{background-color:lightsalmon;}
    40% {background-color:lightcoral;}
    50%{background-color:lightsalmon;}  
    60%{background-color:lightpink;}
    70%{background-color:rgb(136, 44, 136);}
    80%{background-color:lightsalmon;}
    90%{background-color:lightyellow;}
    100%{background-color:lightgreen;}
  }
  .bigbut{
    width:100%;
    height: 50px;
    text-align:center;
  }