<br>
<br>
<br>
<div class = "row">
  <div class = "col-1"> </div>
<div class = "col-1"> 

    <div *ngFor = "let exam of exams">
        <button mat-raised-button class = "bigbut" (click) = openReport(exam.key)>{{exam.examName}}</button>
    </div>


</div>
<span *ngIf = "showCard"> <mat-card>When student will do your test here you will see reports about each exam.</mat-card></span>
<span *ngIf = "showCard2"> <mat-card>Please choose exam to see report for him.</mat-card></span>
<div class = "col-9" *ngIf = "!(dataSource == null)"> 

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element"> {{element.key}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="timeLeft">
          <th mat-header-cell *matHeaderCellDef>Time left</th>
          <td mat-cell *matCellDef="let element"> {{element.timeLeft}} of {{endTime}} seconds </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="counter">
          <th mat-header-cell *matHeaderCellDef>Currect</th>
          <td mat-cell *matCellDef="let element"> {{element.counter}} of {{numberOfQuestion}}</td>
        </ng-container>
      
        <!-- Symbol Column -->
   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
<div class = "col-1"> </div>
</div>
<!-- 




<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">



    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{findIfTrue(1,1)}} </td>
    </ng-container>

    
  

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->