<div class= "center">
  <h1>Play now</h1>
  <span class = "side">
  <mat-form-field>
    <input matInput placeholder="Game PIN" [(ngModel)] = "pin">
  </mat-form-field>
  </span>
  <span class = "side">
<button (click)="findTest()" mat-raised-button color="primary">Enter</button> 

<div *ngIf = "showError" class = "warn">Game PIN Isnt exist, check you copy exactly</div>
</span>
</div>

