:host() {
    background-color:rgb(98, 214, 143);
    min-height: 600px;
    display: block;
    animation: myanimation 30s infinite;
}

.center {
    margin: auto;
    width: 60%;
      text-align: center;
    padding-top:10%;

  }

  .side + .side {
    margin-left: 10px;
}

@keyframes myanimation {
  0% {background-color: rgb(99, 208, 245);}
  10%{background-color:lightgreen;}
  20%{background-color:rgb(243, 243, 128);}
  30%{background-color:lightsalmon;}
  40% {background-color:lightcoral;}
  50%{background-color:lightsalmon;}  
  60%{background-color:lightpink;}
  70%{background-color:rgb(136, 44, 136);}
  80%{background-color:lightsalmon;}
  90%{background-color:lightyellow;}
  100%{background-color:lightgreen;}
}
.warn{
  color:red;
}