
<div class= "center">
  <h1>Enter name:</h1>
  <span class = "side"> 
  <mat-form-field>
    <input matInput placeholder="Your name" [(ngModel)] = "name">
  </mat-form-field>
</span>
<span class = "side"> 
<button (click)="enterName()" mat-raised-button color="primary">Enter</button> 
</span>
</div>
