
<div class = "row text-center"> 
<div class = "col-3">  </div>
<div class = "col-6">
    <h1>Welcome to our website</h1>
    <p class = "para">Here you can share your exam with your students and create a fun and cooperative learning experience.<br>

          With this site you will be able to create exams with as many questions as you wish, and set the time for each exam.<br>
        
         The questions should be a math questions, with range for currect or not.</p>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>

    </div>
<div class = "col-3">  </div>
</div>


<div class = "row text-center"> 
    <div class = "col-5">  </div>
    <div class = "col-2">
     
 <h2 (click) = "contact()">Contact us</h2>

    </div> 
    <div class = "col-5">  </div>
    
    

    

