<!-- 
<p> title:  {{exams.title}}   </p>
<p> key: {{exams.key}} </p>
<li *ngFor = "let question of questions">{{question.title}}</li>
-->
<div class = "row text-left">


        <div class = "col"> 
            <div style = "height:250px;">

            </div>
                <mat-list> 
                     
                        <div class = "players">
                         <h3>&nbsp;Players</h3>
                         <span *ngFor="let student of participants" > 
                           <div *ngIf = "student.on">
                          <mat-icon mat-list-icon class="away">&nbsp;account_circle</mat-icon>
                          <span mat-line class = "names"> &nbsp; &nbsp; {{student.name}}</span>
                          <p mat-line class>&nbsp;Time left: {{timeAtstart-student.TimeIn}} </p>
                          <mat-divider></mat-divider>
                           </div>
                        </span>
                    </div>
                    </mat-list>

        </div>
     
        
  
 
      <div class = "col">
 
            <h2 class = "head">{{examTitle}}</h2>
           <mat-vertical-stepper>
                    <mat-step *ngFor = "let question of questions; let i = index" [attr.data-index]="i" >
                        <ng-template matStepLabel><b>{{i+1}}) {{question.title}}  </b></ng-template>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Your answer" [(ngModel)] = "answer[i]">
                        </mat-form-field>
                        <span *ngIf = "!(i === questions.length-1)">
                            <button mat-button matStepperNext>Next</button>
                        </span>
                        <span  *ngIf = "!(i === 0)">  
                                <button mat-button matStepperPrevious>Back</button>
                        </span>
                        <span *ngIf = "i === questions.length-1">
                            <button  mat-flat-button color="primary"  (click) = "saveAnswers()">Send your answers</button>
                        </span>
                    </mat-step>
                </mat-vertical-stepper>
                 
               
      </div>
<div class = "col-2"> </div>
      <div class = "col-2">
            <div style = "height:250px;">

           </div>
           <br> <br> <br> <br>  
      <div *ngIf =" timeToEnd > 10 " class = "timer"> 

      <h2>{{minute}}:{{sec}}<mat-icon>alarm</mat-icon> </h2>
      </div>
      <div *ngIf =" 10 >= timeToEnd " class = "timerRed"> 
 
            <h2>{{minute}}:{{sec}} <mat-icon>warning</mat-icon></h2>
      </div>

      </div>


</div>