

:host {
    background-color:rgb(98, 214, 143);
    height: 600px;
    display: block;
    animation: myanimation 100s infinite;
}
.names{
    font-size: 18px;
    
  
}
.away{
    margin-top:2%
}
@keyframes myanimation {
    0% {background-color: rgb(99, 208, 245);}
    10%{background-color:lightgreen;}
    20%{background-color:rgb(243, 243, 128);}
    30%{background-color:lightsalmon;}
    40% {background-color:lightcoral;}
    50%{background-color:lightsalmon;}  
    60%{background-color:lightpink;}
    70%{background-color:rgb(136, 44, 136);}
    80%{background-color:lightsalmon;}
    90%{background-color:lightyellow;}
    100%{background-color:lightgreen;}
  }
.right{
    float: right;
   margin-top:5%;
   margin-right:2.5%;
}
.head{
    text-align:center;
}
.left{
    margin-top:5%;
}
.playersarea{
    margin-top:27%;
}
.players{
    direction:rtl;

     overflow: auto;
     height: 340px;
}

.questions{
    overflow: auto;
    height: 600px;
}
::ng-deep .mat-stepper-vertical {
    background-color:rgb(98, 214, 143);
    display: block;
    animation: myanimation 100s infinite;
    height:551px;
    overflow: auto;
 }

 .timer{
    display: table-cell;
    height: 150px; /*change this and the width
    for the size of your initial circle*/
    width: 150px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /*make it pretty*/
    background: rgb(143, 54, 103);
    color: #fff;
    font: 18px "josefin sans", arial; /*change this
    for font-size and font-family*/
 }
 
 .timerRed{
    display: table-cell;
    height: 150px; /*change this and the width
    for the size of your initial circle*/
    width: 150px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /*make it pretty*/
    background: rgb(143, 54, 103);
    color: rgb(207, 52, 52);
    font: 18px "josefin sans", arial; /*change this
    for font-size and font-family*/
 }
 .students
{
    
       margin:auto;
       padding:25px, 25px, 25px, 25px;
       text-align: center;
       margin-top:7.5px;  
}