<br>
<div class = "regularcomponent">
<div> 
  <img (click) = "toRegisterGoogle()" (mouseleave) = "out()"  *ngIf = "Ongoogle"  class = "SignBut"  src = "assets/picture/googlehover.png">
  
  <img (click) = "toRegisterGoogle()" (mouseenter) = "in()"  *ngIf = "!Ongoogle"  class = "SignBut"  src = "assets/picture/google.png">
  </div>
  <div style="height:10px;font-size:1px;"></div>
  <div> 
  <img (click) = "toRegisterFacebook()" (mouseleave) = "outF()"  *ngIf = "Onfacebook"  class = "SignBut"  src = "assets/picture/Facebookhover.png">
  
  <img (click) = "toRegisterFacebook()" (mouseenter) = "inF()"  *ngIf = "!Onfacebook"  class = "SignBut"  src = "assets/picture/Facebook.png">
</div>
  
  <br>

<div class="example-container">
    <mat-form-field hideRequiredMarker>
      <input [(ngModel)] = "email" name = "email" matInput placeholder="Email" [formControl]="email1" required >
      <mat-error *ngIf="email1.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  

<div class="example-container">
      <mat-form-field hideRequiredMarker>
        <input [(ngModel)] = "password" type="password" (input) = "checkrapiar()" name = "password" matInput placeholder="Password" [formControl]="pass1" required>
        <mat-error *ngIf="pass1.invalid">{{Getrequire()}}</mat-error>
      </mat-form-field>
</div>

<div class="example-container">
    <mat-form-field hideRequiredMarker>
      <input [(ngModel)] = "repassword" type="password" (input) = "checkmatch()" name = "repassword" matInput placeholder="Retype your password" [formControl]="pass2" required>
      <mat-hint>help us save your privacy</mat-hint>
      <div *ngIf = "showmatch" class = "warning">Your password not matches</div>
    </mat-form-field>
</div>

<div style="height:10px;font-size:1px;"></div>
<div style="height:10px;font-size:1px;"></div>
<div class="example-container">
    <div class = "regularcomponent"><mat-divider></mat-divider></div>
  <mat-form-field >
    <input [(ngModel)] = "name" name = "name" matInput placeholder="Name">
    <mat-hint align="end">(Optional)</mat-hint>
  </mat-form-field>
</div>

<div class="example-container">
    <mat-form-field>
      <input [(ngModel)] = "school" name = "school" matInput placeholder="school or university">
      <mat-hint align="end">(Optional)</mat-hint>
    </mat-form-field>
</div>
<br>



    <button mat-flat-button color="accent" class ="SignBut"  (click) = "toRegister()">Sign in</button>
 
    </div>